<app-progressbar></app-progressbar>

<p>
  <label for="">number off serch link</label>
  <br>
  <input type="number" [formControl]="searchDeepValue">
</p>

<table class="table">
  <tbody>
    <tr *ngFor="let link of links">
      <td>
        {{link.title}}
        <span *ngIf="link.ref.length">
          {{link.ref.length}}

          <button class="btn-primary" (click)="toggleDropdown(link)">
            display reference links
          </button>

          <table *ngIf="link.isRefHidden" class="table">
            <tbody>
              <tr *ngFor="let ref of link.ref">
                <td>
                  {{ref.title}}
                </td>
              </tr>
            </tbody>
          </table>
        </span>
      </td>
    </tr>
  </tbody>
</table>