<ngb-progressbar type="warning" class="progressbar" [value]="progressbar.valuePragrass" [striped]="true" [animated]="true">
  {{progressbar.loaderElementName}} 
  {{progressbar.valuePragrass}}%
</ngb-progressbar>

<input type="number" [formControl]="searchDeepValue">

<table class="table">
  <tbody>
    <tr *ngFor="let link of links">
      <td>
        {{link.title}}
        <span *ngIf="link.ref.length">
          {{link.ref.length}}

          <button class="btn-primary" (click)="toggleDropdown(link)">
            display reference links
          </button>

          <table *ngIf="link.isRefHidden" class="table">
            <tbody>
              <tr *ngFor="let ref of link.ref">
                <td>
                  {{ref.title}}
                </td>
              </tr>
            </tbody>
          </table>
        </span>
      </td>
    </tr>
  </tbody>
</table>